

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}



.container {
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
    position: relative;
    display: flex;
    flex: auto;
    min-width: 80%;
    align-items: center;
    justify-content: center;
}


.field1{
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    
    width: 15rem;
    height: 1.5rem;
    margin-left: 1.5rem;
    font-size: 14px;
}

.field2{
    flex-wrap: wrap;
    height: 200px;
    text-align: left;
    justify-content: flex-end;
    text-align: center;
    margin-left: 200px;
    
    

    
}
.btn{
    color: white;
    background-color: blue;
    height: 24px;
    width: 140px;
    padding: 1.5rem;
 
}
.btn2{

    display: flex;
    align-self: flex-start;
    border-radius: 5px;
    margin: 40px;
    margin-top: 1rem;
}

a{
    text-decoration: none;
    display: flex;
    justify-content: flex-end space-around;
    flex-direction: row;
    opacity: 70%;
    color: #5298F5;
   
}

.contact {
    display: flex;
    min-width: 80%;
    justify-content: space-around;
    background-color: rgb(238, 237, 237);
    border: 1px  rgb(219, 219, 219) solid;
    border-radius: 5px;
    padding: 10px;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.rightSide {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.leftSide {
    display: flex;
    flex-direction: column;
}

.fieldSet {
    display: flex;
    flex-direction: column;
    border: none;
    min-height: 80px;
}

.input {
    min-width: 280px;
    min-height: 40px;
    border: 1px solid rgb(219, 219, 219) ;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 13px;
}

textarea {
    min-width: 280px;
    min-height: 200px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
}

.button {
    background-color: cornflowerblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    max-width: 160px;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0 8px;
    font-size: 14px;
    align-self: flex-end;
}

footer{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.upperPart{
    font-size: 20px;
    color: black;
    padding: 0 40px 4px 40px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.281);
}

.lowerPart {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 5px;
}
